.submission-status--text
  for key, value in $submission-status-color
    &.{key}
      color: value !important

.submission-status--icon
  display: inline-block
  width: 1.15em
  for key, value in $submission-status-icon
    &.{key}:before
      content: value
      color: $submission-status-color[key]

.submission-status--border
  border-left: rem(3px) solid transparent
  for key, value in $submission-status-color
    &.{key}
      border-left: rem(3px) solid lighten(value, 10%)

.submissions-table
  .col--status
    width: rem(150px)

  .col--time
    width: rem(120px)

  .col--wins, .col--loses, .col--draws
    width: rem(70px)

  .col--time, .col--wins
    border-left: 1px solid $table-border-color
