.page--match_detail
  .col--round-no
    width: rem(70px)

  .col--opening
    width: rem(100px)

  .col--challenger, .col--challengee
    width: rem(140px)

  .col--challenger, .col--challengee, .col--begin-at, .col--action
    border-left: 1px solid $table-border-color
