.page--round_detail
  [name="step-toolbar"], [name="start-step-toolbar"]
    & > div
      margin-right: rem(5px)

    .textbox
      width: rem(70px)
      margin: rem(0)

    .button
      margin: rem(0)

    .separator
      height: rem(20px)
      border-right: 1px solid $table-border-color
      margin: rem(0 10px)

  #roundStepBoard .loading
    height: rem(500px)
    position: relative

  #stdin_left, #stdin_right
    height: rem(150px)
    cursor: pointer
