.page--scoreboard
  .col--rank
    width: rem(80px)

  .col--score, .col--wins, .col--loses, .col--draws
    width: rem(80px)

  .col--submission
    width: rem(120px)

  .col--submit-at
    width: rem(150px)

  +mobile()
    .col--rank, .col--score, .col--wins
      width: rem(70px)
    .col--loses, .col--draws, .col--submission, .col--submit-at
      display: none

  .badge
    display: inline-block
    margin-right: rem(5px)
    font-size: rem(10px)
    padding: rem(0 5px)
    color: #FFF
    background: oc-gray-6

  +mobile()
    .badge
      display: none

  .badge-red
    background: oc-red-5

  .badge-blue
    background: oc-blue-3

  .badge-green
    background: oc-green-3
