{% macro render(page, num_pages, pattern) %}
<ul class="pager">
{% for type, page0 in paginate(page, num_pages) %}
  {% set pageUrl = pattern|substitute({ page: page0 }) %}
  <li>
  {% if type == 'first' %}
    <a class="pager__item first link" href="{{ pageUrl }}">« First</a>
  {% elif type == 'previous' %}
    <a class="pager__item previous link" href="{{ pageUrl }}">‹ Previous</a>
  {% elif type == 'ellipsis' %}
    <span class="pager__item ellipsis">...</span>
  {% elif type == 'page' %}
    <a class="pager__item page link" href="{{ pageUrl }}">{{ page0 }}</a>
  {% elif type == 'current' %}
    <span class="pager__item current">{{ page0 }}</span>
  {% elif type == 'next' %}
    <a class="pager__item next link" href="{{ pageUrl }}">Next ›</a>
  {% elif type == 'last' %}
    <a class="pager__item last link" href="{{ pageUrl }}">Last »</a>
  {% endif %}
  </li>
{% endfor %}
</ul>
{% endmacro %}
