<div data-id="submission_body">
  <div class="section__header">
    <h1 class="section__title">
      {{ sdoc.user.profile.displayName }}'s #{{ sdoc.version }} Submission:
      <span class="icon submission-status--icon {{ sdoc.status }}"></span>
      <span class="submission-status--text {{ sdoc.status }}">
        {{ DI('models.Submission.STATUS_TEXT')[sdoc.status] }}
      </span>
    </h1>
  </div>
{%- if sdoc.text %}
{%- if sdoc.user.equals(req.credential._id) or req.credential.hasPermission(permissions.VIEW_ANY_SUBMISSION_CODE) %}
  <div class="section__body typo">
    <pre><code>{{ sdoc.text }}</code></pre>
  </div>
{%- endif %}
{%- endif %}
</div>
