{% extends "layout/help_base.html" %}
{% block help_content %}
<div class="section">
    <div class="section__header">
        <h1 class="section__title">About</h1>
    </div>
    <div class="section__body" style="vertical-align: middle;">
        The Gomoku Online Judge System is produced and maintained by:
        <div>
        <img class="github-avatar" src="https://avatars0.githubusercontent.com/u/22216234">
        <a href="https://github.com/SSTIA">@SSTIA</a>
        </div>

        <br/>
        <br/>

        Contributors (ordered by a-z):
        <ul>
            <li>
                <img class="github-avatar" src="https://avatars0.githubusercontent.com/u/4067473">
                <a href="https://github.com/arsdragonfly">@arsdragonfly</a>
            </li>
            <li>
                <img class="github-avatar" src="https://avatars0.githubusercontent.com/u/3363954">
                <a href="https://github.com/LukeXuan">@LukeXuan</a>
            </li>
            <li>
                <img class="github-avatar" src="https://avatars0.githubusercontent.com/u/15375211">
                <a href="https://github.com/Reapor-Yurnero">@Reapor-Yurnero</a>
            </li>
            <li>
                <img class="github-avatar" src="https://avatars0.githubusercontent.com/u/9911074">
                <a href="https://github.com/tc-imba">@tc-imba</a>
            </li>
        </ul>

        <br/>
        <br/>

        Special thanks to:
        <div>
            <img class="github-avatar" src="https://avatars0.githubusercontent.com/u/22009446">
            <a href="https://github.com/sse2016-gomoku-fun">@sse2016-gomoku-fun</a>
        </div>


    </div>
</div>
{% endblock %}
