{% extends "layout/basic.html" %}
{% block content %}
<div class="row" data-sticky-parent>
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">Rounds</h1>
      </div>
      <div class="section__body no-padding">
        <table class="data-table">
          <colgroup>
            <col class="col--round-no">
            <col class="col--map">
            <col class="col--challenger round-status--cell">
            <col class="col--challengee round-status--cell">
            <col class="col--begin-at"></col>
            <col class="col--end-at"></col>
            <col class="col--action"></col>
          </colgroup>
          <thead>
            <tr>
              <th class="col--round-no">#</th>
              <th class="col--map">Board</th>
              <th class="col--challenger round-status--cell">{{ mdoc.u1.profile.displayName }}</th>
              <th class="col--challengee round-status--cell">{{ mdoc.u2.profile.displayName }}</th>
              <th class="col--begin-at">Begin At</th>
              <th class="col--end-at">End At</th>
              <th class="col--action">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for rdoc in mdoc.rounds %}
            <tr>
              <td class="col--round-no">#{{ loop.index }}</td>
              <td class="col--map">{{ rdoc.mapId }}</td>
              {% set status = DI('models.Match.getRelativeStatus')(rdoc.status, true) %}
              <td class="col--challenger">
                <div class="field-icon field--{% if rdoc.u1Black %}black{% else %}white{% endif %}"></div>
                <span class="icon round-status--icon {{ status }}"></span>
                <span class="round-status--text {{ status }}">
                  {{ DI('models.Match.ROUND_STATUS_TEXT')[status] }}
                </span>
              </td>
              {% set status = DI('models.Match.getRelativeStatus')(rdoc.status, false) %}
              <td class="col--challengee">
                <div class="field-icon field--{% if rdoc.u2Black %}black{% else %}white{% endif %}"></div>
                <span class="icon round-status--icon {{ status }}"></span>
                <span class="round-status--text {{ status }}">
                  {{ DI('models.Match.ROUND_STATUS_TEXT')[status] }}
                </span>
              </td>
              <td class="col--begin-at">
                {% if rdoc.beginJudgeAt %}
                  {{ rdoc.beginJudgeAt|datetime }}
                {% else %}
                  --
                {% endif %}
              </td>
              <td class="col--end-at">
                {% if rdoc.endJudgeAt %}
                  {{ rdoc.endJudgeAt|datetime }}
                {% else %}
                  --
                {% endif %}
              </td>
              <td class="col--action">View Board</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% for rdoc in mdoc.rounds %}
  <!--
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">
          Round #{{ loop.index }}:
          <span class="round-status--text {{ rdoc.status }}">
            {{ DI('models.Match.ROUND_STATUS_TEXT')[rdoc.status] }}
          </span>
        </h1>
      </div>
    {% if rdoc.text %}
      <div class="section__body typo">
        <pre>{{ rdoc.text }}</pre>
      </div>
    {% endif %}
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>Match Begin At</dt>
          <dd>
          {% if rdoc.beginJudgeAt %}
            {{ rdoc.beginJudgeAt|datetime }}
          {% else %}
            --
          {% endif %}
          </dd>
          <dt>Match End At</dt>
          <dd>
          {% if rdoc.endJudgeAt %}
            {{ rdoc.endJudgeAt|datetime }}
          {% else %}
            --
          {% endif %}
          </dd>
          <dt>Initial Map</dt>
          <dd>{{ rdoc.mapId }}</dd>
          <dt>Challenger Field</dt>
          <dd>{% if rdoc.u1Black %}Black{% else %}White{% endif %}</dd>
          <dt>Challengee Field</dt>
          <dd>{% if rdoc.u2Black %}Black{% else %}White{% endif %}</dd>
        </dl>
      </div>
    </div>
  -->
  {% endfor %}
  </div>
  <div class="medium-3 columns"><div data-sticky="medium">
    <div class="side section">
      <div class="section__header">
        <h1 class="section__title">Match Info</h2>
      </div>
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>Status</dt>
          <dd>
            <span class="icon match-status--icon {{ mdoc.status }}"></span>
            <span class="match-status--text {{ mdoc.status }}">
              {{ DI('models.Match.STATUS_TEXT')[mdoc.status] }}
            </span>
          </dd>
          <dt>At</dt>
          <dd>
            {{ mdoc.createdAt|datetime }}
          </dd>
          <dt>Rounds</dt>
          <dd>
            {{ mdoc.rounds.length }}
          </dd>
        </dl>
      </div>
      <div class="section__header">
        <h1 class="section__title">Challenger</h2>
      </div>
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>User</dt>
          <dd>
            {{ mdoc.u1.profile.displayName }}
          </dd>
          <dt>Submit At</dt>
          <dd>{{ mdoc.u1Submission.createdAt|datetime }}</dd>
          <dt>Detail</dt>
          <dd>
            <a href="{{ url('/submission/{0}', false, [mdoc.u1Submission._id]) }}">
              View
            </a>
          </dd>
        </dl>
      </div>
      <div class="section__header">
        <h1 class="section__title">Challengee</h2>
      </div>
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>User</dt>
          <dd>
            {{ mdoc.u2.profile.displayName }}
          </dd>
          <dt>Submit At</dt>
          <dd>{{ mdoc.u2Submission.createdAt|datetime }}</dd>
          <dt>Detail</dt>
          <dd>
            <a href="{{ url('/submission/{0}', false, [mdoc.u2Submission._id]) }}">
              View
            </a>
          </dd>
        </dl>
      </div>
    </div>
  </div></div>
</div>
{% endblock %}
