{% extends "layout/basic.html" %}
{% block content %}
<div class="row" data-sticky-parent>
  <div class="medium-9 columns">
  {% for rdoc in mdoc.rounds %}
    <div class="side section">
      <div class="section__header">
        <h1 class="section__title">
          Round #{{ loop.index }}:
          <span class="round-status--text {{ rdoc.status }}">
            {{ DI('models.Match.ROUND_STATUS_TEXT')[rdoc.status] }}
          </span>
        </h1>
      </div>
    {% if rdoc.text %}
      <div class="section__body typo">
        <pre>{{ rdoc.text }}</pre>
      </div>
    {% endif %}
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>Match Begin At</dt>
          <dd>
          {% if rdoc.beginJudgeAt %}
            {{ rdoc.beginJudgeAt|datetime }}
          {% else %}
            --
          {% endif %}
          </dd>
          <dt>Match End At</dt>
          <dd>
          {% if rdoc.endJudgeAt %}
            {{ rdoc.endJudgeAt|datetime }}
          {% else %}
            --
          {% endif %}
          </dd>
          <dt>Initial Map</dt>
          <dd>{{ rdoc.mapId }}</dd>
          <dt>Challenger Field</dt>
          <dd>{% if rdoc.u1Black %}Black{% else %}White{% endif %}</dd>
          <dt>Challengee Field</dt>
          <dd>{% if rdoc.u2Black %}Black{% else %}White{% endif %}</dd>
        </dl>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="medium-3 columns"><div data-sticky="medium">
    <div class="side section">
      <div class="section__header">
        <h1 class="section__title">Match Info</h2>
      </div>
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>Status</dt>
          <dd>
            <span class="icon match-status--icon {{ mdoc.status }}"></span>
            <span class="match-status--text {{ mdoc.status }}">
              {{ DI('models.Match.STATUS_TEXT')[mdoc.status] }}
            </span>
          </dd>
          <dt>At</dt>
          <dd>
            {{ mdoc.createdAt|datetime }}
          </dd>
          <dt>Rounds</dt>
          <dd>
            {{ mdoc.rounds.length }}
          </dd>
        </dl>
      </div>
      <div class="section__header">
        <h1 class="section__title">Challenger</h2>
      </div>
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>User</dt>
          <dd>
            {{ mdoc.u1.profile.displayName }}
          </dd>
          <dt>Submit At</dt>
          <dd>{{ mdoc.u1Submission.createdAt|datetime }}</dd>
          <dt>Detail</dt>
          <dd>
            <a href="{{ url('/submission/{0}', false, [mdoc.u1Submission._id]) }}">
              View
            </a>
          </dd>
          <dt>Win</dt>
          <dd>{{ mdoc.u1Stat.win|default('--') }}</dd>
          <dt>Lose</dt>
          <dd>{{ mdoc.u1Stat.lose|default('--') }}</dd>
          <dt>Draw</dt>
          <dd>{{ mdoc.u1Stat.draw|default('--') }}</dd>
        </dl>
      </div>
      <div class="section__header">
        <h1 class="section__title">Challengee</h2>
      </div>
      <div class="section__body typo">
        <dl class="large horizontal">
          <dt>User</dt>
          <dd>
            {{ mdoc.u2.profile.displayName }}
          </dd>
          <dt>Submit At</dt>
          <dd>{{ mdoc.u2Submission.createdAt|datetime }}</dd>
          <dt>Detail</dt>
          <dd>
            <a href="{{ url('/submission/{0}', false, [mdoc.u2Submission._id]) }}">
              View
            </a>
          </dd>
          <dt>Win</dt>
          <dd>{{ mdoc.u2Stat.win|default('--') }}</dd>
          <dt>Lose</dt>
          <dd>{{ mdoc.u2Stat.lose|default('--') }}</dd>
          <dt>Draw</dt>
          <dd>{{ mdoc.u2Stat.draw|default('--') }}</dd>
        </dl>
      </div>
    </div>
  </div></div>
</div>
{% endblock %}
