{% extends "layout/basic.html" %}
{% block content %}
{% if req.credential.hasPermission(permissions.VIEW_ANY_PROFILE) %}
{% set showDetail = true %}
{% else %}
{% set showDetail = false %}
{% endif %}
<div class="row">
  <div class="columns">
    <!--<div class="section">
      <div class="section__header">
        <h1 class="section__title"><span class="icon icon-warning text-red"></span> Important Notice</h1>
      </div>
      <div class="section__body">
        <p>The submission will be ended at: <mark>Jan. 3, 2017, Tuesday, 10:00 AM (CST)</mark> (<span class="time" data-timestamp="1483408800"></span>)</p>
      </div>
    </div>-->
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">Current Scoreboard</h1>
      {%- if sbdoc !== false %}
        <div class="section__tools">Update at: {{ cacheAt|datetime }} (refresh every {{ DI('config.scoreboard.cacheDuration')|duration }})</div>
      {%- endif %}
      </div>
    {%- if sbdoc !== false %}
      <div class="section__body no-padding">
        <table class="data-table">
          <colgroup>
            <col class="col--rank">
            <col class="col--user">
          {% if showDetail %}
            <col class="col--student_id">
            <col class="col--real_name">
          {% endif %}
            <col class="col--score">
            <col class="col--wins">
            <col class="col--loses">
            <col class="col--draws">
            <col class="col--submission">
            <col class="col--submit-at">
          </colgroup>
          <thead>
            <tr>
              <th class="col--rank">Rank</th>
              <th class="col--user">User</th>
            {% if showDetail %}
              <th class="col--student_id">Id</th>
              <th class="col--real_name">Name</th>
            {% endif %}
              <th class="col--score">Rating</th>
              <th class="col--wins">Win</th>
              <th class="col--loses">Lose</th>
              <th class="col--draws">Draw</th>
              <th class="col--submission">Submission</th>
              <th class="col--submit-at">Submitted At</th>
            </tr>
          </thead>
          <tbody>
          {%- for udoc in udocs %}
            <tr>
              <td class="col--rank">#{{ udoc.rank }}</td>
              <td class="col--user"><div layout="row center-start">
              {%- if udoc.badge %}
                <span class="badge {{ udoc.badge.style }}">{{ udoc.badge.text }}</span>
              {%- endif %}
                <a href="{{ url('/submission/user/{0}', false, [udoc._id]) }}">{{ udoc.profile.displayName }}</a>
              </div></td>
            {% if showDetail %}
              <td class="col--student_id">
                {{ udoc.profile.studentId }}
              </td>
              <td class="col--real_name">
                {{ udoc.profile.realName }}
              </td>
            {% endif %}
              <td class="col--score">{{ udoc.rating.score }}</td>
              <td class="col--wins">{{ udoc.rating.win }}</td>
              <td class="col--loses">{{ udoc.rating.lose }}</td>
              <td class="col--draws">{{ udoc.rating.draw }}</td>
              <td class="col--submission">
              {%- if udoc.submission %}
                <a class="typo-a" href="{{ url('/submission/{0}', false, [udoc.submission._id]) }}">
                  #{{ udoc.submission.version }}: View
                </a>
              {%- else %}
                --
              {%- endif %}
              </td>
              <td class="col--submit-at">
              {%- if udoc.submission %}
                {{ udoc.submission.createdAt|datetime }}
              {%- else %}
                --
              {%- endif %}
              </td>
            </tr>
          {%- endfor %}
          </tbody>
        </table>
      </div>
    {%- else %}
      <div class="section__body"><div class="typo">
        <p>Scoreboard is under calculation :(</p>
        <p>Please wait a moment and refresh this page.</p>
      </div></div>
    {%- endif %}
    </div>
  </div>
</div>
{% endblock %}
