{% extends "layout/submission_base.html" %}
{% block submission_content %}
  <div class="section">
    {% include "partials/submission_detail_body.html" %}
    <div data-hide-when="no_match"{% if mdocs.length == 0 %} style="display:none"{% endif %}>
      <div class="section__body">
        <div class="supplementary">Showing matches related to this submission.</div>
      </div>
      <div class="section__body no-padding">
        <table class="data-table">
          <colgroup>
            <col class="col--status match-status--border">
            <col class="col--at">
            <col class="col--challenger">
            <col class="col--challengee">
            <col class="col--rounds">
          </colgroup>
          <thead>
            <tr>
              <th class="col--status match-status--border">Status</th>
              <th class="col--at">At</th>
              <th class="col--challenger">Challenger</th>
              <th class="col--challengee">Opponent</th>
              <th class="col--rounds">Round Statistics</th>
            </tr>
          </thead>
          <tbody id="match_row_container">
          {%- for mdoc in mdocs %}
            {%- include "partials/submission_detail_match_row.html" -%}
          {%- endfor %}
          </tbody>
        </table>
        {{ paginator.render(page, pages, url('/submission/{0}/{page}', false, [sdoc._id])) }}
      </div>
    </div>
    <div class="section__body">
      <div data-hide-when="no_match" class="supplementary"{% if mdocs.length == 0 %} style="display:none"{% endif %}>
        Note: Win or lose is relative to the submitter.
      </div>
      <div data-hide-when="match" class="supplementary"{% if mdocs.length > 0 %} style="display:none"{% endif %}>
        This submission doesn't have related matches.
      </div>
    </div>
  </div>
{%- if sdoc.user.equals(req.credential._id) or req.credential.hasPermission(permissions.VIEW_ANY_SUBMISSION_CODE) %}
  <div class="section">
    <div class="section__header">
      <h1 class="section__title">Source Code</h1>
    </div>
    <div class="section__body">
      <pre class="line-numbers language-c"><code>{{ sdoc.code }}</code></pre>
    </div>
  </div>
{%- endif %}
{% endblock %}
{% block submission_sidebar %}
  <div class="side section">
    <div class="section__header">
      <h1 class="section__title">Submission Info</h1>
    </div>
  {%- if req.credential.hasPermission(permissions.REJUDGE_SUBMISSION) %}
    <ol class="menu">
      <li class="menu__item">
        <form method="POST" action="{{ url('/submission/{0}/rejudge', false, [sdoc._id]) }}">
          <input type="hidden" name="_csrf" value="{{ ui_context.csrfToken }}">
          <button class="menu__link" type="submit">
            <span class="icon icon-refresh"></span>
            Recompile and Rejudge
          </button>
        </form>
      </li>
    </ol>
  {%- endif %}
    <div class="section__body typo">
      <dl class="large horizontal">
        <dt>Status</dt>
        {%- include "partials/submission_detail_status.html" -%}
        <dt>Submit By</dt>
        <dd>
          <a href="{{ url('/submission/user/{0}', false, [sdoc.user._id]) }}">
            {{ sdoc.user.profile.displayName }}
          </a>
        </dd>
      {%- if req.credential.hasPermission(permissions.VIEW_ANY_PROFILE) %}
        <dt>Std Id</dt>
        <dd>{{ sdoc.user.profile.studentId }}</dd>
        <dt>Real Name</dt>
        <dd>{{ sdoc.user.profile.realName }}</dd>
      {%- endif %}
        <dt>Submit At</dt>
        <dd>{{ sdoc.createdAt|datetime }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
