{% extends "layout/submission_base.html" %}
{% block submission_content %}
<div class="section">
  <div class="section__header">
    <h1 class="section__title">Submit New Brain</h1>
  </div>
  <div class="section__body typo">
    <blockquote class="warn">
      <ul>
        <li class="text-red">Do not copy others' source code. All the code you submitted will be checked for plagiarism. Copycats will fail this project!</li>
        <li>Do not share your source code with others. Similar submissions will be treated as plagiarism.</li>
        <li>Do not use alternative account to submit your code, otherwise you will be recognized as a copycat.</li>
        <li>Do not submit C++ source code. Only C language is supported.</li>
        <li>Do not abuse our cloud execution service, such as intentionally trying to shutdown our judge machine.</li>
      </ul>
    </blockquote>
    <blockquote class="note">
      <ul>
        <li>Official recommended IDE: <a href="https://sourceforge.net/projects/orwelldevcpp/" target="_blank">Dev-C++</a>.</li>
        <li>You can only submit your code once every {{ DI('config.compile.limits.submitInterval')|duration }}.</li>
        <li>However, if your code can't be compiled, you will get another chance to submit your code.</li>
        <li>The code should not exceed {{ DI('config.compile.limits.sizeOfCode')|filesize }} </li>
        <li>The compiled executable file should not exceed {{ DI('config.compile.limits.sizeOfBin')|filesize }}.</li>
      </ul>
    </blockquote>
  {% if not canSubmit %}
    <p>Sorry, you cannot submit code currently due to the submission frequency limitation. Please try again later.</p>
  {% else %}
    <p>Please paste your C source code of your brain in the text box below. Your code will be automatically compiled and judged by the system.</p>
    <form method="post">
      <div class="row">
        <div class="columns">
          <label>C Source Code:</label>
          <textarea name="code" class="monospace textbox" autofocus required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <input type="hidden" name="_csrf" value="{{ ui_context.csrfToken }}">
          <button class="primary rounded button" type="submit">Submit</button>
        </div>
      </div>
    </form>
  {% endif %}
  </div>
</div>
{% endblock %}
