{% extends "layout/submission_base.html" %}
{% block submission_content %}
  <div class="section">
    <div class="section__header">
      <h1 class="section__title">
        <span class="icon submission-status--icon {{ sdoc.status }}"></span>
        <span class="submission-status--text {{ sdoc.status }}">
          {{ DI('models.Submission.STATUS_TEXT')[sdoc.status] }}
        </span>
      </h1>
    </div>
    <div class="section__body typo">
      <pre>{{ sdoc.text }}</pre>
    </div>
  </div>
{% if mdocs.length > 0 %}
  <div class="section">
    <div class="section__header">
      <h1 class="section__title">Related Matches</h1>
    </div>
    <div class="section__body no-padding">
      <table class="data-table">
        <colgroup>
          <col class="col--status match-status--border">
          <col class="col--challenger">
          <col class="col--challengee">
          <col class="col--rounds">
        </colgroup>
        <thead>
          <tr>
            <th class="col--status match-status--border">Status</th>
            <th class="col--challenger">Challenger</th>
            <th class="col--challengee">Challengee</th>
            <th class="col--rounds">Round Statistics</th>
          </tr>
        </thead>
        <tbody>
        {% for mdoc in mdocs %}
          <tr>
            {% set status = getRelativeStatus(mdoc.status, mdoc) %}
            <td class="col--status match-status--border {{ status }}">
              <span class="icon match-status--icon {{ status }}"></span>
              <a href="{{ url('/match/{0}', false, [mdoc._id]) }}">
                <span class="match-status--text {{ status }}">
                  {{ DI('models.Match.STATUS_TEXT')[status] }}
                </span>
              </a>
            </td>
            <td class="col--challenger">
            {% if mdoc.u1.equals(sdoc.user) %}
              <span class="text-aqua">(Submitter)</span>
            {% else %}
              <a href="{{ url('/submission/{0}', false, [mdoc.u1Submission]) }}">
                {{ mdoc.u1.profile.displayName }}
              </a>
            {% endif %}
            </td>
            <td class="col--challengee">
            {% if mdoc.u2.equals(sdoc.user) %}
              <span class="text-aqua">(Submitter)</span>
            {% else %}
              <a href="{{ url('/submission/{0}', false, [mdoc.u2Submission]) }}">
                {{ mdoc.u2.profile.displayName }}
              </a>
            {% endif %}
            </td>
            <td class="col--rounds" layout="row stretch-left">
            {% for status, rounds in mdoc.rounds | groupby('status') | dictsort %}
              {% set status = getRelativeStatus(status, mdoc) %}
              <a href="{{ url('/match/{0}', false, [mdoc._id]) }}" class="round-status--cell {{ status }}" style="width: {{ (rounds.length / mdoc.rounds.length * 100) }}%">
                <span>{{ rounds.length }} {{ DI('models.Match.ROUND_STATUS_TEXT')[status] }}</span>
              </a>
            {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="section__body">
      <div class="supplementary">Note: Win or lose is relative to the submitter.</div>
    </div>
  </div>
{% endif %}
{% if sdoc.user.equals(req.credential._id) or req.credential.hasPermission(permissions.PERM_VIEW_ALL_SUBMISSION) %}
  <div class="section">
    <div class="section__header">
      <h1 class="section__title">Source Code</h1>
    </div>
    <div class="section__body">
      <pre><code class="cpp">{{ sdoc.code }}</code></pre>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block submission_sidebar %}
  <div class="side section">
    <div class="section__body typo">
      <dl class="large horizontal">
        <dt>Status</dt>
        <dd>
          <span class="icon submission-status--icon {{ sdoc.status }}"></span>
          <span class="submission-status--text {{ sdoc.status }}">
            {{ DI('models.Submission.STATUS_TEXT')[sdoc.status] }}
          </span>
        </dd>
        <dt>Submit By</dt>
        <dd>{{ sdoc.user.profile.displayName }}</dd>
        <dt>Submit At</dt>
        <dd>{{ sdoc.createdAt|datetime }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}
