.board-table
  width: 100%
  table-layout: fixed
  border-collapse: collapse
  border-spacing: 0
  white-space: nowrap

.board-table td
  position: relative
  padding: 0
  overflow: hidden
  border: 1px solid #EEE
  transition: background-color .1s linear

  // squre
  &:before
    content: ''
    float: left
    padding-top: 100%

  // heading
  &.heading
    font-size: rem(12px)
    color: #AAA

  .content
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

  &.active
    background: lighten(red, 85%)

  .stone
    width: 80%
    height: 80%
    border-radius: 50%

    &[data-field="1"], &[data-field="2"]
      &:before
        font-size: rem(10px)
        content: attr(data-order)

    &[data-field="1"]
      background: #444
      color: #FFF

    &[data-field="2"]
      background: #DDD
      color: #222
