pre[class*="language-"]
  border: 1px solid $table-border-color

.line-numbers .line-numbers-rows
  border-right: 1px solid $table-border-color

pre[class*="language-"], code[class*="language-"]
  font-size: rem($font-size-small)
  font-family: $code-font-family
  line-height: 1.2rem

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection
  background: #C1DEF1
